/*
DETALLE DEL PRODUCTO
*/

.cajaPrincipal {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 70%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    background-color: grey;
    border: 4px solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(255, 255, 255, 0.301) 5px 10px 7px 0px inset;
    border-radius: 20px;
  
  }
  .imgPrincipal{
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(255, 255, 255, 0.301) 5px 10px 7px 0px inset;
    border-radius: 20px;
  
   
  }
  .cajaDescripcion {
      display: flex;
      flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
  }
  .cajaDescripcion h4{
    margin-top: 30px;
  }
  
  .cajaSecundaria {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    background-color: grey;
    border: 4px solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(255, 255, 255, 0.301) 5px 10px 7px 0px inset;
    border-radius: 20px;
  }
  .cajaImagenes{
      display: flex;
      flex-wrap: wrap;
  }
  .cajaImagenes img{
      width: 100%;
      margin-bottom: 10px;
      margin-top:10px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;
  }
  .zoom {
      transition: 0.5s;
    }
    .zoom:hover {
      transform: scale(1.7);
      z-index: 1;
      position: relative;
    }
    .btn-success {
      margin-left: 30%;
     margin-top: 10%;
    }
    .botonAñadir{
      border-radius: 5px;
      background-color:  #2792ad;
    }
    .botonAñadir:hover{
      color: #284e09;
    }
  .detalles3{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;    
  }
  .requisitos{
      margin: 20px;
      text-align: center;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
       background-color: grey;
       box-shadow: rgba(255, 255, 255, 0.301) 5px 10px 7px 0px inset;
       border-radius: 20px;
  }
  .requisitos h4{
    margin-top: 25px;
  }
 .detalles3 span .fas {
    font-size: 30px;  }
/* Keys */
.cover{
  text-align: center;
  background-color: black;
  width: 400px;
  position:absolute;
}
.cover:hover{
  display: none;
}
.titJ{
  text-align: center;
  color: #2792ad;
}
.tablek{
  background-color: rgba(90, 90, 90, 0.425);
}
  /*MEDIA QUERY DETALLE DEL PRODUCTO */
  @media (min-width: 767px) and (max-width: 2570px) {
    .img1{
      display: none;
       }
    }
    @media (min-width: 320px) and (max-width: 767px) {
      .img2{
      display: none;
      }
      }