/*
HEADER
*/

header {
    background-image: url("../images/Header-background.jpg");
    background-size: 100%;
    background-size: 100%;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  header img {
    width: 80px;
    margin-top: 5px;
    background-color: rgb(21, 185, 226);
    border-radius: 50px;
  }
  .avatarimg{
    width: 60px;
    margin: 0px;
    border-radius: 50px;
  }
  .avatar{
    padding: 0px;
    border-radius: 50px;
    margin: 0px;
  }
  .avatar:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.dropdown-toggle::after{
  display: none;
}
.reg .fas{
  padding-top: 3px;
  padding-right: 2px;
}
  .menu {
    background-color: white;
    border-radius: 10px;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }
  .menu li {
    padding-right: 18px;
  }
  .menu li:last-child {
    padding-right: 0;
  }
  .menu a {
    font-size: 17px;
  }
  .btn-primary {
    background-color: rgb(21, 185, 226);
  }
  .btn-primary:hover {
    background-color: rgb(21, 185, 226);
  }
  
  .reg {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 15px 0;
  }
  .boton {
    margin: 3px;
    border: none;
    border-radius: 25px;
    padding: 15px;
  }
  .menu2 {
    display: none;
  }
.nombrePerfil{
  font-weight: bold;
}