/*
GENERAL
*/

*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
body{
    background-color: rgb(32, 32, 32);
}

/*
HEADER
*/

header{
    background-image: url("../images/banner-943868_1920.jpg");
    background-size: 100% ;
}
header img{
    width: 80px;
    margin-top: 5px;
    background-color: chartreuse;
    border-radius: 50px;
}
.menu{
    background-color: white;
    border-radius: 10px;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}



.reg{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 15px 0;
}
.reg button{
    margin: 3px;
    border: none;
    border-radius: 25px;
    padding: 15px;
}
/*Home*/
.home{
    border: 1px solid black;
    height: 800;  }

.box{
    flex-wrap: wrap;
    display: flex;
 }
 /*Products*/
.video{
    size: 100%;
    padding: 0px;
}
 .productos{
     display: flex;
     flex-wrap: wrap;
     background-color: rgb(77, 77, 77);
 }
.imag{
    display: block;
     height: 350px;
     width: 250px;
    margin: auto;
    margin-top: 15px;
 }
 .fig{
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
    
 }
 section .titulo h2{ 
     flex-wrap: wrap;
     float: none;
     text-align: center;
     font-size: 50px;
     margin: 30px;
     padding: auto;
     color:rgb(21, 185, 226);
 }

 
.content{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    border-top: rgb(0, 152, 253) solid 2px;
 }
 .tituloG{
     text-transform: uppercase;
 }
 .fas{
     color: rgb(5, 92, 255);
 }
 .art,.col-md-8{
     
     float: right;
     color: white;
     text-align: left;
 }

/*
FOOTER
*/
footer{
    background-image: url("../images/banner-943868_1920.jpg");
    background-size: 100%;
}
.fot{
    display: flex;
}
.pay{
    flex-direction: column;
}
.icard{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 10px 30px;
}
.textCard{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: black solid 1px;
}
.icard li{
    margin: 0 20px;
}
.icard li i{
    font-size: 40px;
}
ol{
    margin: 0;
    padding: 0;
}
.fot img{
    width: 150px;
}
.fot ul li p{
    font-size: 10px;
}
.redes li a{
    display: flex;
}
.fotcenter {
    justify-content: center;
}
.redes{
    margin: 0;
}
.derechos{
    padding-top: 30px;
}
