body{
    background-color: rgb(32, 32, 32)
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.da{
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
}

.cd{
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    
}


.botones, header{
    background-color: rgb(5, 92, 255);;
}
a{
    text-decoration: none;
    color: black;
}


/*
BOTONES
*/
.botones{
    display: flex;
    justify-content: space-between;
}

/*
FORMULARIO
*/

.formulario{
    height: 100vh;
}
img{
    width: 100px;
}
.caja4{
    padding-bottom: 10px;
}
.caja0, .caja1, .caja2, .caja3, .caja4{
    padding-right: 25px;
    margin-left: 25px;
}
.descripcion, .especificaiones, .nombre{
    width: 100%;
}


.caja0 h5{
    margin-top: 30px;
}
label{
    padding-right: 6px;
}

.caja1, .caja2, .caja3, .caja4{
    padding-top: 10px;
}

.caja3 p{
    width: 100%;
    margin-bottom: 8px;
}

.caja2 label{
    width: 100%;
}

.caja5{
    border: 1px solid black;
    margin-left: 5px;
    height: 300px;
    display: flex;
    place-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
}
.caja5 i{
    font-size: 50px;
}
.uploadimage{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.caja6{
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.cargaimgdlc{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-right: 1px solid black;
    padding: 3px;
    padding-right: 15px;
    padding-left: 10px;
    width: 40%;
}
.dlc{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.caja6 p{
    margin: 0 0 8px;
}
.dlcdesc{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.precioDlc{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}
.precioDlc button{
    margin-left: 20px;
}
.caja7{
    
    margin-left: 5px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}
/*
ADMIN
*/
.container{
    background-color: white;
}
.menuinfo{
    border: 1px solid black;
}
.menuitem{
    border: 1px solid gray;
}

@media  (min-width:320px) and (max-width:760px){
    .caja5{
        margin-left: 20px;
    }
    .caja6{
        margin-right: auto;
    }
    .da, .cd{
        border: 0;
    }
    .precioDlc button{
        margin-left: 5px;
    }
    .dlcdesc{
        margin-bottom: 4px;
    }
}