/*
GENERAL
*/

*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

/*
HEADER
*/

header{
    background-image: url("../images/banner-943868_1920.jpg");
    background-size: 100%;
}
header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header img{
    width: 100px;
    margin-top: 5px;
    background-color: chartreuse;
    border-radius: 50px;
}
.menu{
    background-color: white;
    border-radius: 10px;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}



.reg{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 15px 0;
}
.reg button{
    margin: 3px;
    border: none;
    border-radius: 25px;
    padding: 15px;
}