/*
GENERAL
*/

*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
/*
VARIABLES
*/
:root{
   
   color: blue;
   
   
}
body{
    background-color: rgb(32, 32, 32);
}

/*
HEADER
*/

header{
    background-image: url("../images/banner-943868_1920.jpg");
    background-size: 100%;

    background-size: 100% ;
}
header img{
    width: 80px;
    margin-top: 5px;
    background-color: chartreuse;
    border-radius: 50px;
}
.menu{
    background-color: white;
    border-radius: 10px;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}



.reg{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 15px 0;
}
.reg button{
    margin: 3px;
    border: none;
    border-radius: 25px;
    padding: 15px;
}
/*Home*/
.home{
    border: 1px solid black;
    height: 800;  }

.box{
    flex-wrap: wrap;
    display: flex;
 }
 section{

 }
 /*Products*/
.video{
    size: 100%;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}
 .productos{
     display: flex;
     flex-wrap: wrap;
     margin: 0px;
     background-color: rgb(77, 77, 77);
 }
.imag{
    display: block;
     height: 250px;
     width: 150px;
    margin: auto;
    margin-top: 15px;
 }
 .fig{
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
    
 }
 .titulo{ 
     text-align: center;
     font-size: 50px;
     color:rgb(21, 185, 226);
 }
.content{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    border-top: rgb(0, 152, 253) solid 2px;
    border-right:  rgb(0, 152, 253) solid 2px;
 }
 .content:nth-child(2n){
     border-right: none;
 }
 
 
 .tituloG{
     text-transform: uppercase;
 }
 .fas{
     color: rgb(5, 92, 255);
 }
 .art,.col-md-8{
     margin: 0px;
     font-size: 20px;
     float: right;
     color: white;
     text-align: left;
    }
.vermas{
    margin-top: 0px;
    font-size: 30px;
}
.content:hover{
    background-color: rgba(0, 0, 0, 0.274);
}
.pd{
    height: 200px;
    width: 100%;
    margin: 0px;
    overflow:hidden;
    white-space: initial;
    text-overflow: unset;
}

.aff{
    
    
}
.aff:hover{
    color: white;
    background-color: rgba(34, 34, 34, 0.438);
}
/*
ProductDetails
*/


.contenido article span{
    color: var(--color-verde);
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}


.contenido{
    border:3px solid pink ;
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    border-radius: 30px;
}
.contenido img{
    margin-top: 10px;
    width:50%;
 
}



.imgDes{
    border:1px solid black ;
    
}
.imgDes img{

padding: 10px;

}
.des {
    border:1px solid black ;
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
   
    
}
.des span{
    margin-left: 4px;
}
.req{
    border: 1px solid black;
    margin-top: 10px;
}










/*
FOOTER
*/
footer{
    background-image: url("../images/banner-943868_1920.jpg");
    background-size: 100%;
}
.fot{
    display: flex;
}
.pay{
    flex-direction: column;
}
.icard{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 10px 30px;
}
.textCard{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: black solid 1px;
}
.icard li{
    margin: 0 20px;
}
.icard li i{
    font-size: 40px;
}
ol{
    margin: 0;
    padding: 0;
}
.fot img{
    width: 150px;
}
.fot ul li p{
    font-size: 10px;
}
.redes li a{
    display: flex;
}
.fotcenter {
    justify-content: center;
}
.redes{
    margin: 0;
}
.derechos{
    padding-top: 30px;
}


/*MEDIA QUERY */

@media  (min-width:320px) and (max-width:760px){
    .titulo{
        font-size: 50px;
    }
  
    .vermas{
     font-size: 30px;
    }
    .video{
        display: none;
    }
}
@media   (max-width:1000px){
    .descripcion{
        display: none;
    }

}