<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>
<section class="container ">
    <div class="row all">
    <div class="container carrito row">
        <div class=" row col-12 concar">
            <div class=" col-8 selecpro row ">
                <div class="producto col-12 row ">
                        <figure class="col-4 imgc"><img class="img-fluid"src="/images/products/default-image.png" alt=""></figure>
                        <p class="col-6 infp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloru.</p>
                        <div class="col-3 row ep"> 
                        <p class=" col-12 preciop"> $1000<a href="" ><p class="elip col-12">Eliminar</p></a></p>
                        </div>
                </div>
                <div class="producto col-12 row ">
                    <figure class="col-4 imgc"><img class="img-fluid"src="/images/products/default-image.png" alt=""></figure>
                    <p class="col-6 infp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloru.</p>
                    <div class="col-3 row ep"> 
                    <p class=" col-12 preciop"> $1000<a href="" ><p class="elip col-12">Eliminar</p></a></p>
                    </div>
                </div>
                <div class="producto col-12 row ">
                    <figure class="col-4 imgc"><img class="img-fluid"src="/images/products/default-image.png" alt=""></figure>
                    <p class="col-6 infp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloru.</p>
                    <div class="col-3 row ep"> 
                    <p class=" col-12 preciop"> $1000<a href="" ><p class="elip col-12">Eliminar</p></a></p>
                    </div>
                </div>
            <p class="col-3 precio" >TOTAL: $1400</p>
            <a class="" href="/"><br><br><p class="col-3 seg">seguir comprando</p></a>
            <a class="col-3 comprar" href="">Comprar</a>
            <a class="col-3 eliminar" href="">Eliminar  todo</a>
            
            </div>
            <div class="publi col-4 row">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius alias, asperiores commodi repudiandae deserunt vitae laborum rem illo ex excepturi, quia aliquid at odit tenetur, nulla laboriosam iure aliquam eum! lo</div>
        </div>
    </div>
    <div class=" row col-12">
    <div class="col-8 info selecpro row"><h5>Terminos y condiciones:</h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est dolorum nihil voluptas laboriosam minima maiores ea veniam officiis repellendxpedita lor</div>
</div>
</section>

<%-include("./partials/footer.ejs")%>