<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>
<section>
    <div class="container carrito">
        <div class="row col-12 concar">
            <div class="col-6 row">
                <div class="col-5">
                <img class="img-fluid " src="/images/products/default-image.png" alt="">
                </div>
                <div class="col-7"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia odio, et fugit quibusdam qui aspernatur deserunt dignissimos aperiam repellat ipsa! Nobis fugiat omnis saepe ex fugit temporibus rem voluptas?</p></div>
            </div>
            <div class="publi col-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius alias, asperiores commodi repudiandae deserunt vitae laborum rem illo ex excepturi, quia aliquid at odit tenetur, nulla laboriosam iure aliquam eum!</div>
        </div>
        
    </div>
</section>

<%-include("./partials/footer.ejs")%>