<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>
<section class="container ">
    <h6 class="ossi ">PelucheOsi</h6>
    <div class="row all">
    <div class="container carrito row">
        <div class=" col-12 col-md-12 col-lg-8 concar ">
            <div class=" col-12 col-md-12 selecpro ">
                <div class="producto col-12 row ">
                        <figure class="col-12 col-md-4 col-lg-3 imgc"><img class="img-fluid"src="/images/products/default-image.png" alt=""></figure>
                        <p class="col-12 col-md-6 infp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloru.</p>
                        <div class=" row ep  col-md-2 "> 
                        <p class=" col-12 preciop"> $1000</p><p class="elip col-12"><a href="">Eliminar</a></p>
                        </div>
                </div>
                <div class="producto col-12 row ">
                    <figure class="col-12 col-md-4 col-lg-3 imgc"><img class="img-fluid"src="/images/products/default-image.png" alt=""></figure>
                    <p class="col-12 col-md-6 infp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloru.</p>
                    <div class=" row ep  col-md-2 "> 
                    <p class=" col-12 preciop"> $1000</p><p class="elip col-12"><a href="">Eliminar</a></p>
                    </div>
            </div>
            <div class="producto col-12 row ">
                <figure class="col-12 col-md-4 col-lg-3 imgc"><img class="img-fluid"src="/images/products/default-image.png" alt=""></figure>
                <p class="col-12 col-md-6 infp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloru.</p>
                <div class=" row ep  col-md-2 "> 
                <p class=" col-12 preciop"> $1000</p><p class="elip col-12"><a href="">Eliminar</a></p>
                </div>
        </div>
            <div class="col-12 row bot">
                <div class="col-md-8"></div>
                <p class="col-12 precio col-md-4">TOTAL: $1400</p>
            </div>  
            <ul class="col-12 row bot ">
                <p><li class="col-12 col-md-4 col-lg-4 seg"> <a href="/">seguir comprando</a></li></p>
                <div class="col-md-2 col-lg-3"></div>
                <p><li class="col-6 col-md-4 col-lg-3 eliminar"> <a href="">Eliminar todo </a></li></p>
                <p><li class="col-6 col-md-4 col-lg-3 comprar"><a href="">Comprar</a></li></p>
            </ul>
        
            
         </div>
        </div>
        <div class="pub col-12 col-md-12 col-lg-3 row"><h3 class="col-12"> Te puede interesar</p></h3>
            <figure class="pubf col-12 col-md-6 col-lg-12" ><a href="/products"><img class="img-fluid imgp col-12"src="/images/products/default-image.png" alt=""><p class="pri col-4">$100</p></a></figure>
            <figure class="pubf col-12 col-md-6 col-lg-12" ><a href="/products"><img class="img-fluid imgp col-12"src="/images/products/default-image.png" alt=""><p class="pri col-4">$100</p></a></figure>
         </div>
   
    <div class="col-12  col-md-12 col-lg-8 ">
    <div class="col-12 info "><h5>Terminos y condiciones:</h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est dolorum nihil voluptas laboriosam minima maiores ea veniam officiis repellendxpedita lor</div>
</div>

</section>

<%-include("./partials/footer.ejs")%>