<img class="img-fluid"src="/images/products/default-image.png" alt="">
<p class="col-8 infp">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum alias laborum debitis, veniam officiis blanditiis? Reiciendis quam amet sunt molestias labore, ut maxime corporis earum expedita, dicta aspernatur hic similique.</p>