<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container-fluid">

        <!--caja contenedora de boostrap-->
        <div class="container">

            <!--caja que contiene el logotipo, el buscador y botón con un link-->
            <div class="row">

                <!--caja que contiene el logotipo-->
                <div class="col">
                    <a href=""><img src="" alt=""></a>
                </div>

                <!--caja que contiene el formulario-->
                <div class="col">
                    <form action="">
                        <input type="text">
                        <button><i></i></button>
                    </form>
                </div>

                <!--caja que contiene el link-->
                <div class="col">
                    <a href=" "><i></i></a>
                </div>

                <!--finaliza el div.row-->
            </div>

            <!--barra de navegación-->
            <nav>

                <!--boton para que desplegar el menu  en caso que el viewport sea tamaño movil-->
                <button><i></i></button>

                <!--barra de menu que aparece a partir de la vesión de tablet-->
                <div>

                    <!--barra de menu izquierdo-->
                    <ul>
                        <li>
                            <a href=" "></a>
                        </li>
                        <li>
                            <a href=" "></a>
                        </li>
                        <li>
                            <a href=" "></a>
                        </li>
                        <li>
                            <a href=" "></a>
                        </li>
                    </ul>

                    <!--barra de menu: login y registro-->
                    <ul>
                        <li>
                            <a href=" "> <i></i></a>
                        </li>
                        <li>
                            <a href=" "> <i></i></a>
                        </li>
                        <li>
                            <a href=" "> <i></i></a>
                        </li>
                    </ul>

                </div>
                <!--finaliza caja contenedora del menu-->
            </nav>
        </div>
        <!--finaliza caja contenedora bootstrap-->
    </header>

    <footer>
        <div><p>audsyau</p></div>
    </footer>
</body>
</html>