<%-include("./partials/head.ejs")%>
<%- include("./partials/header.ejs")%> 
<h6 class="osi">dadsadsa</h6>
    <%- include("./partials/banner.ejs") %> 
<section class="container ur homedet">
  

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active container">
            <div class="row imgbox">
           <a href=""> <img src="/images/news/human-fall-flat-android-ios-download-banner.webp" class="d-block bannerh " alt="">
            <div class="box ">
            <p class="titlenews col-12">Human fall flat<br></p>
            <h3 class="description col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias expedita eaque laboriosam veniam itaque voluptas? Consectetur dolores amet maxime quas, corporis consequuntur voluptatum, ipsum blanditiis cupiditate, culpa excepturi provident modi.</h3>
            </div></a>
             </div>
          </div>
          <div class="carousel-item container">
            <div class="row">
           <a href=""> <img src="/images/news/images.jpg" class="d-block bannerh " alt="">
            <div class="box ">
            <p class="titlenews col-12">Human fall flat<br></p>
            <h3 class="description col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias expedita eaque laboriosam veniam itaque voluptas? Consectetur dolores amet maxime quas, corporis consequuntur voluptatum, ipsum blanditiis cupiditate, culpa excepturi provident modi.</h3>
            </div></a>
             </div>
          </div>
          <div class="carousel-item  container">
            <div class="row">
           <a href=""> <img src="/images/news/Peluche_en_la_ventana_thumb_1280.jpg" class="d-block bannerh " alt="">
            <div class="box ">
            <p class="titlenews col-12">Human fall flat<br></p>
            <h3 class="description col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias expedita eaque laboriosam veniam itaque voluptas? Consectetur dolores amet maxime quas, corporis consequuntur voluptatum, ipsum blanditiis cupiditate, culpa excepturi provident modi.</h3>
            </div></a>
             </div>
          </div>
          </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div>
          <div class="container contnoti">
        <div class="row col-lg-4 col-md-6 col-sm-12 boxnoti">
              <div class="card noti zoom1">
                <img src="/images/products/image1602218478915.jpg " class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title minititle">Card title</h5>
                  <p class="card-text minidesc">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text miniprice">$140</p>
                </div>
            </div>
        </div>
        <div class="row col-lg-4 col-md-6 col-sm-12 boxnoti">
            <div class="">
              <div class="card noti zoom1">
                <img src="/images/products/image1602218478915.jpg " class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title minititle">Card title</h5>
                  <p class="card-text minidesc">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text miniprice">$140</p>
                </div>
              </div>
            </div>
        </div>
        <div class="row col-lg-4 col-md-6 col-sm-12 boxnoti">
            <div class="">
              <div class="card noti zoom1">
                <img src="/images/products/image1602218478915.jpg " class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title minititle">Card title</h5>
                  <p class="card-text minidesc">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text miniprice">$140</p>
                </div>
              </div>
            </div>
        </div>
      </div>
</section>
<%-include("./partials/footer.ejs")%>
