<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>
<section class="container">
  <div class="row"> <video  autoplay loop width="100%" src="/media/video.mp4" alt=""></video>
  </div>
  <div class="row productos">
      <div class="titulo col-12">
        <h2>JUEGOS  BUTTEFLY PIX BIT</h2>
      </div>
      <div class="row">
        <div class="col-12 content ">
          <figure >
            <img  src="/images/products/human.jpg" alt="">
          </figure>
          <article>
            <h2>human fall man</h2>
            <h3>$100</h3>
            <i class="fas fa-truck"></i>
          </article>
        </div>
      </div>

  </div>
  

</section>
<%-include("./partials/footer.ejs")%>