<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>
<section class="container">
  <div class="row col-12 video"> <video  autoplay loop width="100%" src="/media/video.mp4" alt=""></video>
  </div>
  <div class="row productos col-12 ">
      <div class="titulo col-12">
        <h2>JUEGOS  BUTTEFLY PIX BIT</h2>
      </div>
      <div class="row">
        <div class="col-12 content ">
          <figure  class=" col-md-4  fig" >
          <img class="img-fluid imag"  src="/images/products/human.jpg" alt="">
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG">human fall man  </h2>
            <h3>Sinopsis: Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate fugiat quaerat reprehenderit adipisci voluptatem quidem totam, omnis fugit nam dolores libero eveniet ducimus voluptas blanditiis consequatur quibusdam esse <a href="/product">Ver más</a></h3>
            <h3>$100 <i class="fas fa-truck"></i></h3>
          </article>
        </div>
        <div class="col-12 content ">
          <figure  class=" col-md-4  fig" >
          <img class="img-fluid imag"  src="/images/products/human.jpg" alt="">
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG">human fall man  </h2>
            <h3>Sinopsis: Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate fugiat quaerat reprehenderit adipisci voluptatem quidem totam, omnis fugit nam dolores libero eveniet ducimus voluptas blanditiis consequatur quibusdam esse <a href="/product">Ver más</a></h3>
            <h3>$100 <i class="fas fa-truck"></i></h3>
          </article>
        </div>
        <div class="col-12 content ">
          <figure  class=" col-md-4  fig" >
          <img class="img-fluid imag"  src="/images/products/human.jpg" alt="">
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG">human fall man  </h2>
            <h3>Sinopsis: Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate fugiat quaerat reprehenderit adipisci voluptatem quidem totam, omnis fugit nam dolores libero eveniet ducimus voluptas blanditiis consequatur quibusdam esse <a href="/product">Ver más</a></h3>
            <h3>$100 <i class="fas fa-truck"></i></h3>
          </article>
        </div>
  </div>
    <div class="titulo col-12">
        <h2>JUEGOS DE COMPANIAS ALFILIADAS</h2>
    </div>
  </div>
</section>
<%-include("./partials/footer.ejs")%>