<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>
<section class="container">
  <section> <video src="../images/video.mp4"></video>
  </section>
  <div class="row">
    <div class="col-12">
     
      <h2>BIENVENIDO A BUTERFFLY PIX BIT</h2>
  </div></div>
  </div>
</section>
<%-include("./partials/footer.ejs")%>