<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>
<section class="container">
  
  <div class="row col-12 video"> <video  autoplay loop width="100%" src="/media/video.mp4" alt=""></video>
  </div>
  <div class=" productos col-12 ">
     
      <div class="row">
        <div class="titulo col-md-12 col-12">
          <p>JUEGOS  BUTTEFLY PIX BIT</p>
        </div>
        <div class="col-12 col-md-6 content ">
          <a class="vermas" href="/products">
          <figure  class=" col-md-4  fig" >
          <img class="img-fluid imag"  src="/images/products/human.jpg" alt="">
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG">human fall man  </h2>
            <p class="pd">Sinopsis: Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate fugiat quaerat reprehenderit adipisci  quidem totam, omnis fugit nam dolores libero eveniet ducimus voluptas blanditiis consequatur quibusdam esse </p>
            <h3 class="pri">$150 </h3>
          </article>
        </a>
        </div>
        <div class="col-12 col-md-6 content ">
          <a class="vermas" href="/products">
          <figure  class=" col-md-4  fig" >
          <img class="img-fluid imag"  src="/images/products/human.jpg" alt="">
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG">human fall man  </h2>
            <p class="pd">Sinopsis: Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate fugiat quaerat reprehenderit adipisci  quidem totam, omnis fugit nam dolores libero eveniet ducimus voluptas blanditiis consequatur quibusdam esse </p>
            <h3 class="pri">$100 </h3>
          </article>
        </a>
        </div>
        <div class="col-12 col-md-6 content ">
          <a class="vermas" href="/products">
          <figure  class=" col-md-4  fig" >
          <img class="img-fluid imag"  src="/images/products/human.jpg" alt="">
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG">human fall man  </h2>
            <p class="pd">Sinopsis: Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate fugiat quaerat reprehenderit adipisci  quidem totam, omnis fugit nam dolores libero eveniet ducimus voluptas blanditiis consequatur quibusdam esse </p>
            <h3 class="pri">$100 </h3>
          </article>
        </a>
        </div>
        <div class="col-12 col-md-6 content ">
          <a class="vermas" href="/products">
          <figure  class=" col-md-4  fig" >
          <img class="img-fluid imag"  src="/images/products/human.jpg" alt="">
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG">human fall man  </h2>
            <p class="pd">Sinopsis: Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate fugiat quaerat reprehenderit adipisci  quidem totam, omnis fugit nam dolores libero eveniet ducimus voluptas blanditiis consequatur quibusdam esse </p>
            <h3 class="pri">$100 </h3>
          </article>
        </a>
        </div>
        <div class="col-12 col-md-6 content ">
          <a class="vermas" href="/products">
          <figure  class=" col-md-4  fig" >
          <img class="img-fluid imag"  src="/images/products/human.jpg" alt="">
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG">human fall man  </h2>
            <p class="pd">Sinopsis: Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate fugiat quaerat reprehenderit adipisci  quidem totam, omnis fugit nam dolores libero eveniet ducimus voluptas blanditiis consequatur quibusdam esse </p>
            <h3 class="pri"3>$100 </h3>
          </article>
        </a>
        </div>
        <div class="col-12 col-md-6 content ">
          <a class="vermas" href="/products">
          <figure  class=" col-md-4  fig" >
          <img class="img-fluid imag"  src="/images/products/human.jpg" alt="">
          </figure>
          <article class="art col-md-8">
            <h2 class="tituloG">human fall man  </h2>
            <p class="pd">Sinopsis: Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate fugiat quaerat reprehenderit adipisci  quidem totam, omnis fugit nam dolores libero eveniet ducimus voluptas blanditiis consequatur quibusdam esse </p>
            <h3 class="pri">$100 </h3>
          </article>
        </a>
        </div>
      </div>
  </div>
  <div class="productos col-12 prf">
    <div class="row ">
      <div class="titulo col-12 col-md-12">
        <p>JUEGOS DE COMPANIAS ALFILIADAS</p>
    </div>
      <div class="col-md-3 col-12">
          <div class="aff">
            <a href="/">
              <img class="img-fluid" src="/images/products/noman.jpg" alt="">
              <div class="paf">
              <h4 class="pet">NO MAN'S SKY</h4>
              <p class="pet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias quidem sequi odio quos reiciendis expedita est doloremque modi necessitatibus et voluptatum, totam neque! Est illo nisi sint sapiente corrupti.</p>
              </div>
            </a>
          </div>
      </div>
      <div class="col-md-3 col-12">
        <div class="aff"> <a href="/">
            <img class="img-fluid" src="/images/products/noman.jpg" alt="">
            <div class="paf">
            <h4 class="pet">NO MAN'S SKY</h4>
            <p class="pet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias quidem sequi odio quos reiciendis expedita est doloremque modi necessitatibus et voluptatum, totam neque! Est illo nisi sint sapiente corrupti.</p>
            </div>
        </a>
    </div>
    </div>
    <div class="col-md-3 col-12 ">
      <div class="aff"> <a href="/">
          <img class="img-fluid" src="/images/products/noman.jpg" alt="">
          <div class="paf">
          <h4 class="pet">NO MAN'S SKY</h4>
          <p class="pet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias quidem sequi odio quos reiciendis expedita est doloremque modi necessitatibus et voluptatum, totam neque! Est illo nisi sint sapiente corrupti.</p>
          </div>
      </a>
  </div>
  </div>
  <div class="col-md-3 col-12">
    <div class="aff"> <a href="/">
        <img class="img-fluid" src="/images/products/noman.jpg" alt="">
        <div class="paf">
        <h4 class="pet">NO MAN'S SKY</h4>
        <p class="pet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias quidem sequi odio quos reiciendis expedita est doloremque modi necessitatibus et voluptatum, totam neque! Est illo nisi sint sapiente corrupti.</p>
        </div>
    </a>
</div>
</div>
    </div>
  </div>
</section>
<%-include("./partials/footer.ejs")%>