<!DOCTYPE html>
<html lang="es">
<head class="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d302e505c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/stylenewProduct.css">
    <title>Document</title>
</head>

<header>
    <div class="container">
        <div class="row botones">
            <button type="button" class="btn btn-success">Atras</button>
            <button type="button" class="btn btn-success">Vista previa</button>
            <button type="button" class="btn btn-success">Guardar</button>
        </div>
    </div>
</header>

<body>
<form action="" method="POST">
    <div class="container"> 
        <div class="row">
            <div class="col-5">
                <div class="row caja0">
                    <img src="images/LogoMakr_8h3KUr.png" alt="">
                    <h5>Carga de producto</h5>
                </div>
                <div class="row caja1">
                    <label for="nombre-producto">Nombre</label>
                    <input type="text" name="nombre-producto" id="nombre-producto">
                </div>
                <div class="row caja2">
                    <label for="descripcion">Descripcion</label>
                    <textarea name="descripcion" id="descripcion" cols="40" rows="5" ></textarea>
                </div>
                <div class="row caja3">
                    <p>Generos</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="accion">
                        <label class="form-check-label" for="accion">
                          Accion
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="disparos">
                        <label class="form-check-label" for="disparos">
                          Disparos
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="estrategia">
                        <label class="form-check-label" for="estrategia">
                          Estrategia
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="simulacion">
                        <label class="form-check-label" for="simulacion">
                          Simulacion
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="deporte">
                        <label class="form-check-label" for="deporte">
                          Deporte
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="carrera">
                        <label class="form-check-label" for="carrera">
                          Carreras
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="aventura">
                        <label class="form-check-label" for="aventura">
                          Aventura
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rol">
                        <label class="form-check-label" for="rol">
                          Rol
                        </label>
                      </div>
                </div>
                <div class="row caja4">
                    <label for="especificasiones">Especificasiones</label>
                    <textarea name="especificasiones" id="especificasiones" cols="40" rows="5"></textarea>
                </div>
            </div>
            <div class="col-7">
                <div class="row caja5">
                    <a href="">
                    <i class="fas fa-images"></i>
                    <h6>Carga aqui las imagenes</h6>
                    </a>
                </div>
                <div class="row caja6">
                    <a href=""><i class="fas fa-images"></i></a>
                </div>
                <div class="row caja7">
                    descuento y precio
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>