<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>

<div class="container">
    <div class="row"> <video autoplay loop width="100%" src="/media/video.mp4" alt=""></video>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 cajaPrincipal">
            <div class="col-12 col-md-6 CajaimgPrincipal ">
                <img src="images/products/human.jpg" alt="">
            </div>
            <div class="col-12 col-md-6 cajaDescripcion">
                <h4 class="col-12">Descripción</h4>
                <p>Human fall flat Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur incidunt
                    eius adipisci aliquid, ipsum asperiores. Distinctio cupiditate saepe aliquam accusantium eos
                    nemo est, magnam deserunt optio corporis placeat laboriosam autem? Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit. Dolore a porro impedit maxime perferendis voluptatum
                    veniam aliquam explicabo similique? Eius unde modi suscipit nesciunt iure facilis reiciendis
                    dae. Porro harum
                    Aliquid eligendi
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 cajaSecundaria">
            <div class=" col-12 col-md-6 cajaImagenes">

                <div class="col-6 col-md-3">
                    <img class="zoom img fluid" src="images/products/default-image.png" alt="">
                </div>
                <div class="col-6 col-md-3">
                    <img class="zoom img fluid" src="images/products/default-image.png" alt="">
                </div>
                <div class="col-6 col-md-3">
                    <img class="zoom img fluid" src="images/products/default-image.png" alt="">
                </div>
                <div class="col-6 col-md-3">
                    <img class="zoom img fluid" src="images/products/default-image.png" alt="">
                </div>

            </div>
            <div class="col-12 col-md-6 detalles3">
                <div class="col-4 col-md-4">
                    <h3>$1.500</h3>
                </div>
                <div class="col-4 col-md-4">
                    <span>50% OFF</span>
                    <i class="fas fa-truck"></i>
                    <i class="fas fa-credit-card "></i>
                </div>
                <div class="col-4 col-md-4 ">
                    <button class="botonAñadir" type="button">Añadir <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="caja3">
                <div class="requisitos">
                    <h4>Requisitos del sistema</h4>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia exercitationem
                            numquam voluptatum dignissimos eaque autem cumque rerum doloremque deleniti, pariatur dolore
                            labore beatae magni natus, architecto officiis. Harum, delectus?</p>
                    </div>
                </div>
            </div>
        </div>   
</div>

    <%-include("./partials/footer.ejs")%>