<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>

<body>


    <header>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a href=""><img src="images/LogoMakr_8h3KUr.png" alt=""></a>
                </div>

                <div class="col-8 reg">
                    <button type="button" class="btn btn-primary">Registrate</button>
                    <button type="button" class="btn btn-success">Iniciar Sesion</button>
                </div>

                <div class="col-12">
                    <ul class="menu">

                        <li><a href="">Tienda</a></li>
                        <li><a href="">Noticias</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Menu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>








    <footer>
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <div class="row fot">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor eos et minima, adipisci ab,
                        aspernatur animi nihil praesentium soluta amet distinctio quae aliquid vel perspiciatis maxime
                        nam beatae eligendi! Excepturi?
                    </div>
                    <div class="row fot">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, beatae reiciendis? Tempore
                        tempora officia eveniet quod excepturi. Dolor molestias culpa pariatur ad ipsum asperiores
                        exercitationem quibusdam esse assumenda debitis! Qui.
                    </div>
                </div>
                <div class="col-5">
                    <div class="row fot">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor eos et minima, adipisci ab,
                        aspernatur animi nihil praesentium soluta amet distinctio quae aliquid vel perspiciatis maxime
                        nam beatae eligendi! Excepturi?
                    </div>
                    <div class="row fot">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, beatae reiciendis? Tempore
                        tempora officia eveniet quod excepturi. Dolor molestias culpa pariatur ad ipsum asperiores
                        exercitationem quibusdam esse assumenda debitis! Qui.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>