<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>



<div class="container">
    <div class="row conductor">
        <div class="formu">

           
                <div class="cont">
                    <img src="images/LogoMakr_8h3KUr.png" alt="">
                    <h5>Formulario de Registro</h5>
                    <div class="row c1">
                        <form action="">
                            <label for="nombre-producto">Nombre</label>
                            <input type="text" name="nombre-producto" id="nombre-producto">
                        </form>
                    </div>
                </div>

            

        </div>
    </div>
</div>



















    <%-include("./partials/footer.ejs")%>