<%-include("./partials/head.ejs")%>
<%-include("./partials/header.ejs")%>



<div class="container">
    <div class="row conductor">
        <div class="formu">


            <div class="cont">
                <div>
                    <img src="images/LogoMakr_8h3KUr.png" alt="">
                </div>
                <h5>Formulario de Registro</h5>
                <div class="row c1">
                    <form action="">
                        <label for="nombreCompleto">NombreCompleto:</label>
                        <input type="text" name="nombreCompleto" id=""><br>

                        <label for="nombreUs">Nombre de usuario:</label>
                        <input type="text" name="nombreUs" id=""><br>

                        <label for="email">Email:</label>
                        <input type="email" name="email" id=""><br>

                        <label for="contraseña">Contraseña:</label>
                        <input type="password" name="contraseña" id="">

                    </form>
                </div>
            </div>



        </div>
    </div>
</div>



















<%-include("./partials/footer.ejs")%>