<footer> 
    <div class="container conf">
        <div class="row">
            <div class="col-7">
                <div class="row fot pay">
                    <ul class="icard">
                        <li><i class="fab fa-cc-visa icono"></i></li>
                        <li><i class="fab fa-cc-paypal"></i></li>
                        <li><i class="fab fa-cc-mastercard"></i></li>
                    </ul>
                    <div class="textCard"><h5>Nuestros metodos de pago.</h5></div>
                </div>
                <div class="row fot derechos">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, beatae reiciendis? Tempore tempora officia eveniet quod excepturi. Dolor molestias culpa pariatur ad ipsum asperiores exercitationem quibusdam esse assumenda debitis! Qui.
                </div>
            </div>
            <div class="col-5">
                <div class="row fot fotcenter">
                    <img src="images/LogoMakr_8h3KUr.png" alt="">
                </div>
                <div class="row fot fotcenter">
                    <ul class="redes">
                        <li><a href=""><i class="fab fa-facebook-square"></i><p>facebook.com/butterflyPixbit</p></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i><p>@butterflyPixbit</p></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i><p>@butterflyPixbit</p></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>