      <header>   
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-2">
                    <a href=""><img src="images/LogoMakr_8h3KUr.png" alt=""></a>
                </div>
                <div class="col-4 col-md-5">
                    <nav class="navbar-expand-md">
                        <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    
                    <ul class="menu navbar-nav mr-auto">
                        <li><a href="/">Tienda</a></li>
                        <li><a href="">Noticias</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Menu</a></li>
                    </ul>


                        </div>
                    </nav>
                </div>
                <div class="col-4 col-md-5 reg">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Iniciar Sesion</a>
                          <a class="dropdown-item" href="#">Registrate</a>
                        </div>
                      </div>
                    <button type="button" class="btn btn-success"><i class="fas fa-shopping-cart"></i> Carrito</button>
                </div>
            </div>
        </div>
    </header>
