      <header>   
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-2 logo">
                    <a href="/"><img src="/images/LogoMakr_8h3KUr.png" alt=""></a>
                </div>
                <div class="col-1 col-md-5">
                    <nav class="navbar-expand-md">
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                            
                               
                    <ul class="menu navbar-nav mr-auto">
                        <li><a href="/">Home</a></li>
                        <li><a href="/store">Tienda</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Menu</a></li>
                    </ul>


                        </div>
                    </nav>
                </div>
                
                <div class="col-7 col-md-5 reg">
                    <div class="btn-group">
                        <% if(userLog == undefined){ %> 
                        <button type="button" class="btn btn-primary dropdown-toggle boton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user iconInvitado"></i>Invitado
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/users/login">Iniciar Sesion</a>
                            <a class="dropdown-item" href="/users/register">Registrate</a>
                          </div>
                        <% }else{ %> 
                        <button class="avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/images/users/<%= userLog.image %>" alt="" class="avatarimg">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item nombrePerfil" href="/users/profile/<%= userLog.id %>"><%= userLog.name.toUpperCase() %> </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#">Mis keys</a>
                            <a class="dropdown-item" href="/users/logout">Cerrar session</a>
                        </div>
                        <% } %> 
                      </div>
                    <a href="/carrito"><button type="button" class="btn btn-primary boton"><i class="fas fa-shopping-cart"></i> Carrito</button></a>
                    <% if(userLog != undefined){  
                            if(userLog.admin){ %> 
                    <a href="/admin"><button type="button" class="btn btn-success boton"> Admin</button></a>
                    <% }} %> 
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="menu menu2">
                        <li><a href="/">Home</a></li>
                        <li><a href="/store">Tienda</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Menu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
