<div class="container caja1">
<div class="col-7">
<nav class="nav nav-pills nav-justified">
    <a class="nav-link inactive <% if(id==1||id==null||id>=4){%>  active1 <%  } %> " href="/store/1">Juegos Butteffly pixbit</a>
    <a class="nav-link inactive<% if(id==2){%>  active1 <%  } %>" href="/store/2">Juegos Afiliados</a>
    <a class="nav-link inactive<% if(id==3){%>  active1 <%  } %>" href="/store/3">Todos</a>
  </nav>
</div>
  <div><br></div>
  